{% extends 'base.html.twig' %}

{% block title %}EditQuiz{% endblock %}

{% block body %}
    <style>
        .clearfix:after {
            content: '';
            display: table;
            width: 100%;
            clear: box;
        }

        .header {
            background: #363636;
        }

        .header a {
            color: #FFFFFF;
            font-size: 20px;
            float: right;
            margin: 15px;
        }

        .header a:hover {
            color: #727272;
            text-decoration: none;
        }

        .header p {
            float: left;
            color: #FFFFFF;
            font-size: 20px;
            margin: 15px;
        }

        .container{
            margin-top: 20px;
            padding: 20px;
            width: 500px;
            text-align: center;
        }
    </style>

    <div class="container-fluid header clearfix">
        <a href="{{ '/main' }}">Main page</a>
        <a href="{{ '/edit' }}">Quizes</a>
    </div>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Answers</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.answer }}</td>
                <td> <a class="btn btn-sm btn-success" href="{{ path('answer_edit', {'answer': answer.id}) }}">edit</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
